{
  "openapi": "3.0.1",
  "info": {
    "termsOfService": "http://swagger.io/terms/",
    "title": "Feed Management",
    "description": "Feeds are constructed to handle bulk functions. \n\nA feed consists of an HTTP request with an attached file. The attached file contains the XML representing the objects that need to be created or updated. \n\nRequests in the Feeds API are used to check the status of a feed submission.\n\n**March 2024**<br>Built: 03/07/2024, 10:22:26\n",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-gateway.walmart.com",
      "description": "Production URL"
    },
    {
      "url": "https://sandbox.walmartapis.com",
      "description": "Sandbox URL"
    }
  ],
  "paths": {
    "/v3/feeds": {
      "get": {
        "tags": [
          "Feeds"
        ],
        "operationId": "getAllFeedStatuses",
        "summary": "All feed statuses",
        "description": "<p style=\"color:red; font-size:larger\">GET <walmartAuthServerUrl>/v3/feeds</p>\n\nThis request provides details about all feeds and associated statuses. \n",
        "parameters": [
          {
            "in": "query",
            "name": "feedId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the identifier returned from the <a href=\"https://developer.walmart.com/api/us/supplier/items#operation/itemBulkUploads\">POST Bulk Item Upload request</a>, used for tracking the feed file. \n",
            "example": "76E2D1549C3140C886C1D7F33B7345B6@AWYBCgA"
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            },
            "description": "Specifies the number of entities to exclude from each search. \n\n0 is the first offset number available. This query parameter can only be used when `includeDetails` is set to `true`.\n"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            },
            "description": "Specifies the maximum number of entities returned from each search. \n        \nThe value cannot be more than 50 entities. This query parameter can only be used when `includeDetails` is set to `true`.\n"
          },
          {
            "in": "query",
            "name": "feedStatus",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the feed status. \n\nFor details, see the definitions listed in the *Understanding Statuses Available for Feeds* section in the <a href=\"https://developer.walmart.com/doc/us/us-supplier/us-supplier-feeds/\">Feeds guide</a>. \n\nValid values are:\n\n| Value |  Meaning |\n| --- | --- |\n| RECEIVED | The request has been successfully received by Walmart, but the processing has not yet started for the records. |\n| INPROGRESS | The feed has begun processing, but is not yet complete. For example, one or more records are still processing and not in an end state. |\n| PROCESSED | The complete feed has been successfully completed or processed. All records have been processed and are in an end state. |\n| ERROR | There has been an error in processing the feed file. No records in the file have been processed. Check the error message and the ingestion status for more details about the error and possible corrections. The feed file may be resubmitted later as a new feed file request. |\n",
            "example": "RECEIVED"
          },
          {
            "in": "query",
            "name": "feedType",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the feed type submitted by the supplier. \n\nValid values include, but are not limited to, the following:\n\n| Value | Meaning |\n| --- | --- |\n| OMNI_ONLINE_ITEM | Feed type for items sold to Walmart and only sold online |\n| OMNI_DSV_ITEM | Feed type for drop ship vendor (DSV) item submission |\n| OMNI_MAINTENANCE | Feed type to maintain any item |\n| DSV_INVENTORY | Feed type to update inventory levels at each ship node for drop ship vendor (DSV) suppliers |\n| lagtime | Feed type to update the lag time for items in bulk for drop ship vendor (DSV) suppliers |\n| Cost | Feed type to update the cost at the stock keeping unit (SKU) - ship node level |\n",
            "example": "OMNI_ONLINE_ITEM"
          },
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the returned data format in the response.\n\nValid values are:<br>\napplication/xml<br>\napplication/json\n",
            "example": "application/xml"
          },
          {
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies an identifier that tracks the consumer request by channel.\n\nUse the consumer channel type received during onboarding. See the development manager for the `WM_CONSUMER.CHANNEL.TYPE` value.\n",
            "example": "0f3e4dd4-0514-4346-b39d-…"
          },
          {
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies an identifier for each API call and is used to track and debug issues.\n",
            "example": "1234hfvgtr"
          },
          {
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the timestamp of the API request, in Unix format.\n\nThis value is required for digital signature based authentication.\n",
            "example": "1443748249449"
          },
          {
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the digital signature of the vendor.\n\nFor more about generating the digital signature (JAR file and custom generation code), see the <a href=\"/doc/us/us-supplier/us-supplier-auth/#606\">Authentication with Digital Signature</a> section. The value is required for digital signature based authentication. \n",
            "example": "9fg3TPeRt0WSGbXNGGj4kSQ9L6PMBX.....9Zj5aDyg="
          },
          {
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the identifier Walmart assigns to each supplier.\n\nGet this identifier by logging in to the supplier account. It is required to access the API. This value is required for digital signature based authentication.\n",
            "example": "2d6cf199-9b07-4350-bb2b9-0db3c2"
          },
          {
            "in": "header",
            "name": "WM_SEC.ACCESS_TOKEN",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the access token retrieved in the <a href=\"https://developer.walmart.com/api/us/supplier/auth#operation/dsvTokenAPI\">Create Access Token</a> request.\n\nThis value is required for token-based authentication.\n",
            "example": "eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM…"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalResults": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Indicates the total number of feeds returned.\n",
                      "example": 100
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Indicates the number of entities to exclude from each search.\n",
                      "example": 0
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the maximum number of entities returned from each search.\n",
                      "example": 50
                    },
                    "results": {
                      "type": "object",
                      "description": "Indicates an object for results.\n",
                      "properties": {
                        "feed": {
                          "type": "array",
                          "description": "Indicates an array for the feed. \n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "feedId": {
                                "type": "string",
                                "description": "Indicates an identifier used for tracking the feed file.\n",
                                "example": "76E2D1549C3140C886C1D7F33B7345B6@AWYBCgA"
                              },
                              "feedSource": {
                                "type": "string",
                                "description": "Indicates the source of the feed.\n",
                                "example": "ITEM360"
                              },
                              "feedType": {
                                "type": "string",
                                "description": "Indicates the feed type submitted by the supplier.\n\nValid values include, but are not limited to, the following:\n\n| Value | Meaning |\n| --- | --- |\n| OMNI_ONLINE_ITEM | Feed type for items sold to Walmart and only sold online |\n| OMNI_DSV_ITEM | Feed type for drop ship vendor (DSV) item submission |\n| OMNI_MAINTENANCE | Feed type to maintain any item |\n| DSV_INVENTORY | Feed type to update inventory levels at each ship node for drop ship vendor (DSV) suppliers |\n| lagtime | Feed type to update the lag time for items in bulk for drop ship vendor (DSV) suppliers |\n| Cost | Feed type to update the cost at the stock keeping unit (SKU) - ship node level |\n",
                                "enum": [
                                  "OMNI_ONLINE_ITEM",
                                  "OMNI_DSV_ITEM",
                                  "OMNI_MAINTENANCE",
                                  "DSV_INVENTORY",
                                  "lagtime",
                                  "Cost"
                                ],
                                "example": "OMNI_ONLINE_ITEM"
                              },
                              "itemsReceived": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Indicates the number of items received in the feed.\n",
                                "example": 1
                              },
                              "itemsSucceeded": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Indicates the number of items in the feed that have successfully processed.\n",
                                "example": 1
                              },
                              "itemsFailed": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Indicates the number of items in the feed that failed due to a data or system error.\n",
                                "example": 0
                              },
                              "itemsProcessing": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Indicates the number of items in the feed that are still in progress. \n",
                                "example": 0
                              },
                              "feedStatus": {
                                "type": "string",
                                "description": "Indicates the feed status. \n\nFor details, see the definitions listed in the *Understanding Statuses Available for Feeds* section in the <a href=\"https://developer.walmart.com/doc/us/us-supplier/us-supplier-feeds/\">Feeds guide</a>.\n\nValid values are:\n\n| Value |  Meaning |\n| --- | --- |\n| RECEIVED | The request has been successfully received by Walmart, but the processing has not yet started for the records. |\n| INPROGRESS | The feed has begun processing, but is not yet complete. For example, one or more records are still processing and not in an end state. |\n| PROCESSED | The complete feed has been successfully completed or processed. All records have been processed and are in an end state. |\n| ERROR | There has been an error in processing the feed file. No records in the file have been processed. Check the error message and the ingestion status for more details about the error and possible corrections. The feed file may be resubmitted later as a new feed file request. |\n",
                                "enum": [
                                  "RECEIVED",
                                  "INPROGRESS",
                                  "PROCESSED",
                                  "ERROR"
                                ],
                                "example": "PROCESSED"
                              },
                              "feedDate": {
                                "type": "string",
                                "description": "Indicates the timestamp of feed submission in Epoch format.\n",
                                "example": "1693308288444"
                              },
                              "fileName": {
                                "type": "string",
                                "description": "Indicates the file name.\n",
                                "example": "a745a28f-6e18-4280-b942-ce94f5ac8adc.json"
                              },
                              "vendorId": {
                                "type": "string",
                                "description": "Indicates the supplier vendor number of the supplier that submitted the feed.\n\nThis value is provided by Walmart to the supplier during supplier onboarding. See the development manager for the `vendorId` value.\n",
                                "example": "538678"
                              },
                              "itemDataErrorCount": {
                                "type": "integer",
                                "description": "Indicates the record data error count. \n",
                                "example": 1
                              },
                              "itemSystemErrorCount": {
                                "type": "integer",
                                "description": "Indicates the record system error count. \n",
                                "example": 0
                              },
                              "itemTimeoutErrorCount": {
                                "type": "integer",
                                "description": "Indicates the record timeout error count. \n",
                                "example": 0
                              },
                              "itemsInReviewCount": {
                                "type": "integer",
                                "description": "Indicates the records in manual review count. \n",
                                "example": 0
                              },
                              "channelType": {
                                "type": "string",
                                "description": "Indicates the channel type or system that submitted the feed to Walmart.\n\nIf feed was submitted by a solution provider, the solution provider's specific channel type will be present. \n",
                                "example": "d62e611e-606e-41b9-96cf-38ee37331c47"
                              },
                              "activityId": {
                                "type": "string",
                                "description": "Indicates the activity identifier automatically assigned to the feed file. \n\nThis field is used to track submissions during the review and approval process in the Walmart user interfaces, like Supplier One. For support with activities, share this value with the merchant or support teams.\n",
                                "example": "4E8AOJF2"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Success": {
                    "value": {
                      "totalResults": 250,
                      "offset": 0,
                      "limit": 6,
                      "results": {
                        "feed": [
                          {
                            "feedId": "53E47B93C0BB4A5C933BC6B497CB57FD@AQMBCgA",
                            "feedType": "OMNI_DSV_ITEM",
                            "itemsReceived": 10,
                            "itemsSucceeded": 8,
                            "itemsFailed": 2,
                            "itemsProcessing": 0,
                            "feedStatus": "PROCESSED",
                            "feedDate": 1706700172095,
                            "vendorId": "538678",
                            "fileName": "sample DSV Item Setup.json",
                            "itemDataErrorCount": 1,
                            "itemSystemErrorCount": 1,
                            "itemTimeoutErrorCount": 0,
                            "itemsInReviewCount": 0,
                            "channelType": "0f3e4dd4-0514-4346-b39d-af0e00ea066d",
                            "activityId": "2HOW48G2"
                          },
                          {
                            "feedId": "53E47B93C0BB4A5C933BC6B497CB57FE@AQMBCgA",
                            "feedType": "OMNI_ONLINE_ITEM",
                            "itemsReceived": 20,
                            "itemsSucceeded": 10,
                            "itemsFailed": 5,
                            "itemsProcessing": 5,
                            "feedStatus": "INPROGRESS",
                            "feedDate": 1706700172095,
                            "vendorId": "538678",
                            "fileName": "sample Online Item Setup.json",
                            "itemDataErrorCount": 4,
                            "itemSystemErrorCount": 1,
                            "itemTimeoutErrorCount": 0,
                            "itemsInReviewCount": 1,
                            "channelType": "0f3e4dd4-0514-4346-b39d-af0e00ea066d",
                            "activityId": "2HOW48G3"
                          },
                          {
                            "feedId": "53E47B93C0BB4A5C945BC6B497CB57FE@AQMBCgA",
                            "feedType": "DSV_INVENTORY",
                            "itemsReceived": 100,
                            "itemsSucceeded": 80,
                            "itemsFailed": 20,
                            "itemsProcessing": 0,
                            "feedStatus": "PROCESSED",
                            "feedDate": 1706700172095,
                            "vendorId": "538678",
                            "fileName": "sample DSV Inventory.json",
                            "itemDataErrorCount": 10,
                            "itemSystemErrorCount": 5,
                            "itemTimeoutErrorCount": 5,
                            "itemsInReviewCount": 0,
                            "channelType": "0f3e4dd4-0514-4346-b39d-af0e00ea066d",
                            "activityId": "2HOW48G5"
                          },
                          {
                            "feedId": "53E47B93C0BB4A5C945BC6B497CB57FE@AQMBCgA",
                            "feedType": "Cost",
                            "itemsReceived": 100,
                            "itemsSucceeded": 80,
                            "itemsFailed": 20,
                            "itemsProcessing": 0,
                            "feedStatus": "PROCESSED",
                            "feedDate": 1706700172095,
                            "vendorId": "538678",
                            "fileName": "sample DSV_Cost.json",
                            "itemDataErrorCount": 10,
                            "itemSystemErrorCount": 5,
                            "itemTimeoutErrorCount": 5,
                            "itemsInReviewCount": 0,
                            "channelType": "0f3e4dd4-0514-4346-b39d-af0e00ea066d"
                          },
                          {
                            "feedId": "53E47B93C0BB4A5C945BC6B497CB57FE@AQMBCgA",
                            "feedType": "OMNI_MAINTENANCE",
                            "itemsReceived": 100,
                            "itemsSucceeded": 70,
                            "itemsFailed": 20,
                            "itemsProcessing": 10,
                            "feedStatus": "INPROGRESS",
                            "feedDate": 1706700172095,
                            "vendorId": "538678",
                            "fileName": "sample Main.json",
                            "itemDataErrorCount": 10,
                            "itemSystemErrorCount": 5,
                            "itemTimeoutErrorCount": 5,
                            "itemsInReviewCount": 5,
                            "channelType": "0f3e4dd4-0514-4346-b39d-af0e00ea066d"
                          },
                          {
                            "feedId": "53E47B93C0BB4A5C933BC6B457CB57FD@AQMBCgA",
                            "feedType": "OMNI_DSV_ITEM",
                            "itemsReceived": 0,
                            "itemsSucceeded": 0,
                            "itemsFailed": 0,
                            "itemsProcessing": 0,
                            "feedStatus": "ERROR",
                            "feedDate": 1706700172095,
                            "vendorId": "538678",
                            "fileName": "sample DSV Item Setup 2.json",
                            "itemDataErrorCount": 0,
                            "itemSystemErrorCount": 0,
                            "itemTimeoutErrorCount": 0,
                            "itemsInReviewCount": 0,
                            "channelType": "0f3e4dd4-0514-4346-b39d-af0e00ea066d",
                            "activityId": ""
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Indicates an array for the errors.\n",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Indicates the error code.\n",
                            "example": "INVALID_REQUEST_HEADER.GMP_GATEWAY_API"
                          },
                          "field": {
                            "type": "string",
                            "description": "Indicates the error field.\n",
                            "example": "WM_CONSUMER.CHANNEL.TYPE"
                          },
                          "description": {
                            "type": "string",
                            "description": "Indicates the error description.\n",
                            "example": "WM_CONSUMER.CHANNEL.TYPE set null or invalid"
                          },
                          "info": {
                            "type": "string",
                            "description": "Indicates the error information. \n",
                            "example": "One or more request headers are invalid."
                          },
                          "severity": {
                            "type": "string",
                            "description": "Indicates the error severity. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- | \n| INFO | Error severity at information level |\n| WARN | Error severity at warning level |\n| ERROR | Error severity at error level |\n",
                            "enum": [
                              "INFO",
                              "WARN",
                              "ERROR"
                            ],
                            "example": "ERROR"
                          },
                          "category": {
                            "type": "string",
                            "description": "Indicates the error category.\n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| APPLICATION | Error category at application level |\n| SYSTEM | Error category at system level |\n| REQUEST | Error category at request level |\n| DATA | Error category at data level |\n",
                            "enum": [
                              "APPLICATION",
                              "SYSTEM",
                              "REQUEST",
                              "DATA"
                            ],
                            "example": "DATA"
                          },
                          "causes": {
                            "type": "array",
                            "description": "Indicates an array for error causes.\n",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Indicates the error cause code. \n",
                                  "example": "null"
                                },
                                "field": {
                                  "type": "string",
                                  "description": "Indicates the error cause field.\n",
                                  "example": "null"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Indicates the error cause type.\n",
                                  "example": "null"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Indicates the error cause description. \n",
                                  "example": "null"
                                }
                              }
                            }
                          },
                          "errorIdentifiers": {
                            "type": "object",
                            "description": "Indicates an object for error identifiers.\n",
                            "additionalProperties": {
                              "type": "object",
                              "description": "Indicates an object for additional properties for error identifiers. \n"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "401 - Error": {
                    "value": {
                      "error": [
                        {
                          "code": "UNAUTHORIZED.GMP_GATEWAY_API",
                          "field": "UNAUTHORIZED",
                          "description": "Unauthorized",
                          "info": "Unauthorized token or incorrect authorization header. Please verify correct format: \"Authorization: Basic Base64Encode(clientId:clientSecret)\" For more information, see https://developer.walmart.com/#/apicenter/marketPlace/latest#apiAuthentication.",
                          "severity": "ERROR",
                          "category": "DATA",
                          "causes": [],
                          "errorIdentifiers": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/feeds/{feedId}": {
      "get": {
        "tags": [
          "Feeds"
        ],
        "operationId": "getFeedItemStatus",
        "summary": "Single feed item status",
        "description": "<p style=\"color:red; font-size:larger\">GET <walmartAuthServerUrl>/v3/feeds/{feedId}</p>\n\nThis request provides details about one feed, based on the feed identifier.\n\nUse this request to get a feed and track the feed status. Use the feed identifier returned from the <a href=\"https://developer.walmart.com/api/us/supplier/items#operation/itemBulkUploads\">POST Bulk Item Upload request</a>.\n",
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the identifier returned from the <a href=\"https://developer.walmart.com/api/us/supplier/items#operation/itemBulkUploads\">POST Bulk Item Upload request</a>, used for tracking the feed file. \n",
            "example": "76E2D1549C3140C886C1D7F33B7345B6@AWYBCgA"
          },
          {
            "in": "query",
            "name": "includeDetails",
            "required": false,
            "schema": {
              "type": "string",
              "default": "true"
            },
            "description": "Specifies to include details of each entity in the feed. \n\nThe parameter enables users to define if they want to include the details for each item submitted in the response. The response only shows item details if the feed is `INPROGRESS` or `PROCESSED`.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            },
            "description": "Specifies the item or record that will be shown as the first response in the response for detailed statuses.\n\n0 is the first offset number available. This query parameter can only be used when `includeDetails` is set to `true`.\n"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            },
            "description": "Specifies the number of items or records for which details will be shown for in the feed status response. \n        \nThe value cannot be more than 50 entities. This query parameter can only be used when `includeDetails` is set to `true`.\n"
          },
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the returned data format in the response.\n\nValid values are:<br>\napplication/xml<br>\napplication/json\n",
            "example": "application/xml"
          },
          {
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies an identifier that tracks the consumer request by channel.\n\nUse the consumer channel type received during onboarding. See the development manager for the `WM_CONSUMER.CHANNEL.TYPE` value.\n",
            "example": "0f3e4dd4-0514-4346-b39d-…"
          },
          {
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies an identifier for each API call and is used to track and debug issues.\n",
            "example": "1234hfvgtr"
          },
          {
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the timestamp of the API request, in Unix format.\n\nThis value is required for digital signature based authentication.\n",
            "example": "1443748249449"
          },
          {
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the digital signature of the vendor.\n\nFor more about generating the digital signature (JAR file and custom generation code), see the <a href=\"/doc/us/us-supplier/us-supplier-auth/#606\">Authentication with Digital Signature</a> section. The value is required for digital signature based authentication. \n",
            "example": "9fg3TPeRt0WSGbXNGGj4kSQ9L6PMBX.....9Zj5aDyg="
          },
          {
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the identifier Walmart assigns to each supplier.\n\nGet this identifier by logging in to the supplier account. It is required to access the API. This value is required for digital signature based authentication.\n",
            "example": "2d6cf199-9b07-4350-bb2b9-0db3c2"
          },
          {
            "in": "header",
            "name": "WM_SEC.ACCESS_TOKEN",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the access token retrieved in the <a href=\"https://developer.walmart.com/api/us/supplier/auth#operation/dsvTokenAPI\">Create Access Token</a> request.\n\nThis value is required for token-based authentication.\n",
            "example": "eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM…"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feedId": {
                      "type": "string",
                      "description": "Indicates an identifier, returned from the <a href=\"https://developer.walmart.com/api/us/supplier/items#operation/itemBulkUploads\">POST Bulk Item Upload request</a>, used for tracking the feed file.\n",
                      "example": "85CF30246B87483BA2290B8300750C47@AVABBgA"
                    },
                    "activityId": {
                      "type": "string",
                      "description": "Indicates the activity identifier automatically assigned to the feed file. \n\nThis parameter is used to track submissions during the review and approval process in the Walmart user interfaces, like Supplier One. For support with activities, share this value with the merchant or support teams.\n",
                      "example": "13CBADE2"
                    },
                    "feedStatus": {
                      "type": "string",
                      "description": "Indicates the feed status. \n\nFor details, see the definitions listed in the *Understanding Statuses Available for Feeds* section in the <a href=\"https://developer.walmart.com/doc/us/us-supplier/us-supplier-feeds/\">Feeds guide</a>.\n                    \nValid values are:\n\n| Value |  Meaning |\n| --- | --- |\n| RECEIVED | The request has been successfully received by Walmart, but the processing has not yet started for the records. |\n| INPROGRESS | The feed has begun processing, but is not yet complete. For example, one or more records are still processing and not in an end state. |\n| PROCESSED | The complete feed has been successfully completed or processed. All records have been processed and are in an end state. |\n| ERROR | There has been an error in processing the feed file. No records in the file have been processed. Check the error message and the ingestion status for more details about the error and possible corrections. The feed file may be resubmitted later as a new feed file request. |\n",
                      "enum": [
                        "RECEIVED",
                        "INPROGRESS",
                        "PROCESSED",
                        "ERROR"
                      ],
                      "example": "PROCESSED"
                    },
                    "feedSubmissionDate": {
                      "type": "integer",
                      "description": "Indicates the feed submission date-timestamp, in Unix format.\n",
                      "example": 1694724427146
                    },
                    "ingestionErrors": {
                      "type": "object",
                      "description": "Indicates an object for feed level ingestion errors.\n",
                      "properties": {
                        "ingestionError": {
                          "type": "array",
                          "description": "Indicates an array for a feed level ingestion error.\n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Indicates the feed level ingestion error type. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| DATA_ERROR | Ingestion error type for data error |\n| SYSTEM_ERROR | Ingestion error type for system error |\n| TIMEOUT_ERROR | Ingestion error type for timeout error |\n",
                                "enum": [
                                  "DATA_ERROR",
                                  "SYSTEM_ERROR",
                                  "TIMEOUT_ERROR"
                                ],
                                "example": "DATA_ERROR"
                              },
                              "code": {
                                "type": "string",
                                "description": "Indicates the feed level ingestion error code.\n",
                                "example": "EXT_DATA_ERROR_60490109505567"
                              },
                              "description": {
                                "type": "string",
                                "description": "Indicates the feed level ingestion error description.\n",
                                "example": "Dark Choco' is not a valid Unit for the 'chocolate_type' field. Select a valid value from the drop-down list: [White Chocolate,Semi-Sweet,Extra Dark Chocolate,Unsweetened,Dark Chocolate,Milk Chocolate]."
                              }
                            }
                          }
                        }
                      }
                    },
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items received in the feed.\n",
                      "example": 1
                    },
                    "itemsSucceeded": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that have successfully processed.\n",
                      "example": 1
                    },
                    "itemsFailed": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that failed due to a data or system error.\n",
                      "example": 0
                    },
                    "itemsInReview": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that are in manual review.\n",
                      "example": 0
                    },
                    "itemsProcessing": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that are still in progress.\n",
                      "example": 0
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of entities to exclude from each search.\n",
                      "example": 0
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the maximum number of entities returned from each search.\n",
                      "example": 50
                    },
                    "itemDetails": {
                      "type": "object",
                      "description": "Indicates an object for item details.\n",
                      "properties": {
                        "itemIngestionStatus": {
                          "type": "array",
                          "description": "Indicates an array of item ingestion status. \n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "martId": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Indicates the mart identifier that the user or seller uses for marketplace.\n",
                                "example": 0
                              },
                              "sku": {
                                "type": "string",
                                "description": "Indicates the stock keeping unit (SKU) identifier for the item and is assigned by the supplier.\n",
                                "example": "null"
                              },
                              "wpid": {
                                "type": "string",
                                "description": "Indicates the Walmart product identifier (WPID) value for the item that is assigned by the supplier.\n",
                                "example": "73TVAYVDC7AC"
                              },
                              "index": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Indicates an index of items in the feed.\n",
                                "example": 1
                              },
                              "itemId": {
                                "type": "string",
                                "description": "Indicates the item identifier value generated by Walmart.\n",
                                "example": "5062815046"
                              },
                              "shipNode": {
                                "type": "string",
                                "description": "Indicates the ship node value associated with item ingestion status.\n",
                                "example": "null"
                              },
                              "productIdentifiers": {
                                "type": "object",
                                "description": "Indicates an object for product identifiers.\n",
                                "properties": {
                                  "productIdentifier": {
                                    "type": "object",
                                    "description": "Indicates an object for a product identifier.\n",
                                    "properties": {
                                      "productIdType": {
                                        "type": "string",
                                        "description": "Indicates the product identifier type. \n\nValid values are:\n\n| Value |  Meaning |\n| --- | --- |\n| UPC | Universal Product Code |\n| GTIN | Global Trade Item Number |\n| walmartItemNumber | Walmart Item Number |\n| ISBN | International Standard Book Number |\n| EAN | European Article Number |\n| ITEM_ID | Item identifier |\n",
                                        "enum": [
                                          "UPC",
                                          "GTIN",
                                          "walmartItemNumber",
                                          "ISBN",
                                          "EAN",
                                          "ITEM_ID"
                                        ],
                                        "example": "UPC"
                                      },
                                      "productId": {
                                        "type": "string",
                                        "description": "Indicates the product by the product identifier value.\n",
                                        "example": "00012345678905"
                                      }
                                    }
                                  }
                                }
                              },
                              "ingestionStatus": {
                                "type": "string",
                                "description": "Indicates the ingestion status. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| INPROGRESS | The ingestion is not complete. |\n| SUCCESS | The record was ingested successfully. |\n| DATA_ERROR | There is either a malformed error, or system data is missing. If the file passes validation against the relevant feed file schema definition (XSD or JSON) and the error persists, contact <a href=\"https://supplierhelp.walmart.com/s/contact\">Walmart Partner Support</a>. |\n| IN_REVIEW | The record is pending review. |\n| SYSTEM_ERROR | A downstream Walmart system returned an error to an attempted operation during ingestion. If this error occurs, wait one hour and try again. If the error persists, contact <a href=\"https://supplierhelp.walmart.com/s/contact\">Walmart Partner Support</a>. |\n| TIMEOUT_ERROR | A downstream Walmart system is not available during ingestion. If this error occurs, wait one hour and try again. If the error persists, contact <a href=\"https://supplierhelp.walmart.com/s/contact\">Walmart Partner Support</a>. |\n",
                                "enum": [
                                  "INPROGRESS",
                                  "SUCCESS",
                                  "DATA_ERROR",
                                  "IN_REVIEW",
                                  "SYSTEM_ERROR",
                                  "TIMEOUT_ERROR"
                                ],
                                "example": "INPROGRESS"
                              },
                              "ingestionErrors": {
                                "type": "object",
                                "description": "Indicates an object for item level ingestion errors.\n",
                                "properties": {
                                  "ingestionError": {
                                    "type": "array",
                                    "description": "Indicates an array for an item level ingestion error.\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error type. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| DATA_ERROR | Ingestion error type for data error |\n| SYSTEM_ERROR | Ingestion error type for system error |\n| TIMEOUT_ERROR | Ingestion error type for timeout error |\n",
                                          "enum": [
                                            "DATA_ERROR",
                                            "SYSTEM_ERROR",
                                            "TIMEOUT_ERROR"
                                          ],
                                          "example": "DATA_ERROR"
                                        },
                                        "code": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error code.\n",
                                          "example": "ERR_EXT_DATA_00010121"
                                        },
                                        "field": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error field.\n",
                                          "example": "supplierId"
                                        },
                                        "description": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error description.\n",
                                          "example": "The 9-digit Supplier ID provided is inactive. Please verify that you entered the correct Supplier ID for this item and try again. If you feel that you are receiving this message in error please contact Partner Support."
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Owned eCommerce Setup - In Progress": {
                    "value": {
                      "feedId": "43B290DFDBFF4FFCAEB40AE5C0752F38@AVABBwA",
                      "activityId": "16LFPHA2",
                      "feedStatus": "INPROGRESS",
                      "feedSubmissionDate": 1699649300338,
                      "itemsReceived": 1,
                      "itemsSucceeded": 0,
                      "itemsFailed": 0,
                      "itemsInReview": 0,
                      "itemsProcessing": 1,
                      "offset": 0,
                      "limit": 50,
                      "itemDetails": {
                        "itemIngestionStatus": [
                          {
                            "martId": 0,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "06996492879337"
                                }
                              ]
                            },
                            "ingestionStatus": "INPROGRESS"
                          }
                        ]
                      }
                    }
                  },
                  "Owned eCommerce Setup - Complete": {
                    "value": {
                      "feedId": "F0B2F67186314531A5D55FE95FDF9179@AVABBgA",
                      "activityId": "0CZ85022",
                      "feedStatus": "PROCESSED",
                      "feedSubmissionDate": 1699649142200,
                      "itemsReceived": 1,
                      "itemsSucceeded": 0,
                      "itemsFailed": 1,
                      "itemsInReview": 0,
                      "itemsProcessing": 0,
                      "offset": 0,
                      "limit": 50,
                      "itemDetails": {
                        "itemIngestionStatus": [
                          {
                            "martId": 0,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "06996489522161"
                                }
                              ]
                            },
                            "ingestionStatus": "SYSTEM_ERROR",
                            "ingestionErrors": {
                              "ingestionError": [
                                {
                                  "type": "SYSTEM_ERROR",
                                  "code": "ERR_INT_SYS_01011111",
                                  "field": "PDI",
                                  "description": "A system error occurred. Please contact Walmart Partner support at https://supplierhelp.walmart.com/s/."
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  },
                  "200 Success - Feed Status - Processed (No Details)": {
                    "value": {
                      "feedId": "F0B2F67186314531A5D55FE95FDF9179@AVABBgA",
                      "activityId": "0CZ85022",
                      "feedStatus": "PROCESSED",
                      "feedSubmissionDate": 1699649142200,
                      "itemsReceived": 20,
                      "itemsSucceeded": 10,
                      "itemsFailed": 5,
                      "itemsInReview": 0,
                      "itemsProcessing": 5,
                      "offset": 0,
                      "limit": 50
                    }
                  },
                  "200 Success - Feed Level Failure": {
                    "value": {
                      "feedId": "17AF88DB758B530093BB325B4618CD83@AZIBBgb",
                      "feedStatus": "ERROR",
                      "feedSubmissionDate": 1706733260011,
                      "ingestionErrors": {
                        "ingestionError": [
                          {
                            "type": "SYSTEM_ERROR",
                            "code": "EXT_SYSTEM_ERROR_55687470550563",
                            "field": "FGW",
                            "description": "It looks like there was a glitch. Please try again. If the problem persists, contact Walmart Partner Support."
                          }
                        ]
                      },
                      "itemsReceived": 0,
                      "itemsSucceeded": 0,
                      "itemsFailed": 0,
                      "itemsProcessing": 0,
                      "offset": 0,
                      "limit": 50,
                      "itemDetails": {
                        "itemIngestionStatus": []
                      }
                    }
                  },
                  "200 Success - Item Setup (OMNI_ONLINE_ITEM) Feed Processed with Details": {
                    "value": {
                      "feedId": "F0B2F67186314531A5D55FE95FDF9179@AVABBgA",
                      "activityId": "0CZ85022",
                      "feedStatus": "PROCESSED",
                      "feedSubmissionDate": 1699649142200,
                      "itemsReceived": 1,
                      "itemsSucceeded": 1,
                      "itemsFailed": 0,
                      "itemsInReview": 0,
                      "itemsProcessing": 0,
                      "offset": 0,
                      "limit": 50,
                      "itemDetails": {
                        "itemIngestionStatus": [
                          {
                            "martId\"": 0,
                            "wpid\"": "7837PJ41EFC9",
                            "itemid\"": "5159831529",
                            "productIdentifiers\"": {
                              "productIdentifier\"": [
                                {
                                  "productIdType\"": "GTIN",
                                  "productId\"": "06996489522161"
                                }
                              ]
                            },
                            "ingestionStatus\"": "SUCCESS"
                          }
                        ]
                      }
                    }
                  },
                  "200 - Item Setup (OMNI_DSV_ITEM) Feed Processed with Details": {
                    "value": {
                      "feedId": "2FB3456B32614BC49C8CBA9E77B28D5C@AXQBCgA",
                      "activityId": "0CZ85022",
                      "feedStatus": "PROCESSED",
                      "feedSubmissionDate": 1694726109488,
                      "ingestionErrors": null,
                      "itemsReceived": 1,
                      "itemsSucceeded": 0,
                      "itemsFailed": 1,
                      "itemsProcessing": 0,
                      "itemsInReview": 0,
                      "offset": 0,
                      "limit": 50,
                      "itemDetails": {
                        "itemIngestionStatus": [
                          {
                            "martId": 0,
                            "sku": "hOJHAH3QkJ0PyCuNGF2w",
                            "index": 0,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "06947259032533"
                                }
                              ]
                            },
                            "ingestionStatus": "DATA_ERROR",
                            "ingestionErrors": {
                              "ingestionError": [
                                {
                                  "type": "DATA_ERROR",
                                  "code": "EXT_DATA_ERROR_50716566635066",
                                  "field": "pieceCount",
                                  "description": "value provided is not valid data type for 'pieceCount' field. Enter a valid value in the required data type 'Number'."
                                },
                                {
                                  "type": "DATA_ERROR",
                                  "code": "EXT_DATA_ERROR_72600149546850",
                                  "field": "ShippingDimensionsHeight",
                                  "description": "`ShippingDimensionsHeight` is a required attribute. Enter value for the attribute `ShippingDimensionsHeight`."
                                },
                                {
                                  "type": "DATA_ERROR",
                                  "code": "EXT_DATA_ERROR_72600149546850",
                                  "field": "ShippingDimensionsDepth",
                                  "description": "`ShippingDimensionsDepth` is a required attribute. Enter value for the attribute `ShippingDimensionsDepth`."
                                },
                                {
                                  "type": "DATA_ERROR",
                                  "code": "EXT_DATA_ERROR_55506974520167",
                                  "field": "keyFeatures",
                                  "description": "‘keyFeatures’ requires ‘3’ entries. Please refer to the Attribute Definition & Requirements."
                                },
                                {
                                  "type": "DATA_ERROR",
                                  "code": "EXT_DATA_ERROR_60490109505567",
                                  "field": "colorCategory",
                                  "description": "'Testing bad payload' is not a valid Unit for the 'colorCategory' field. Select a valid value from the drop-down list: [Bronze,Brown,Gold,Gray,Blue,Black,Orange,Multi-color,Clear,Red,Silver,Pink,White,Purple,Yellow,Beige,Off-White,Green]."
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  },
                  "200 - Item Maintenance (OMNI_MAINTENANCE) Feed In Progress with Details": {
                    "value": {
                      "feedId": "2FB3456B32614BC49C8CBA9E77B28D7C@AXQBCgA",
                      "activityId": "0CZ85021",
                      "feedStatus": "INPROGRESS",
                      "feedSubmissionDate": 1694726109488,
                      "ingestionErrors": null,
                      "itemsReceived": 5,
                      "itemsSucceeded": 2,
                      "itemsFailed": 1,
                      "itemsProcessing": 1,
                      "itemsInReview": 2,
                      "offset": 0,
                      "limit": 50,
                      "itemDetails": {
                        "itemIngestionStatus": [
                          {
                            "martId": 0,
                            "sku": null,
                            "wpid": null,
                            "index": 0,
                            "itemid": "",
                            "shipNode": null,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "06945230124051"
                                },
                                {
                                  "productIdType": "walmartItemNumber",
                                  "productId": "662038981"
                                }
                              ]
                            },
                            "ingestionStatus": "IN_REVIEW"
                          },
                          {
                            "martId": 0,
                            "sku": null,
                            "wpid": null,
                            "index": 0,
                            "itemid": "",
                            "shipNode": null,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "06947130124052"
                                },
                                {
                                  "productIdType": "walmartItemNumber",
                                  "productId": "665538982"
                                }
                              ]
                            },
                            "ingestionStatus": "SUCCESS"
                          },
                          {
                            "martId": 0,
                            "sku": null,
                            "wpid": null,
                            "index": 0,
                            "itemid": "",
                            "shipNode": null,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "05947230124053"
                                },
                                {
                                  "productIdType": "walmartItemNumber",
                                  "productId": "661038983"
                                }
                              ]
                            },
                            "ingestionStatus": "DATA_ERROR",
                            "ingestionErrors": {
                              "ingestionError": [
                                {
                                  "type": "DATA_ERROR",
                                  "code": "EXT_DATA_ERROR_50716566635066",
                                  "field": "pieceCount",
                                  "description": "value provided is not valid data type for 'pieceCount' field. Enter a valid value in the required data type 'Number'."
                                }
                              ]
                            }
                          },
                          {
                            "martId": 0,
                            "sku": null,
                            "wpid": null,
                            "index": 0,
                            "itemid": "",
                            "shipNode": null,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "03947230124054"
                                },
                                {
                                  "productIdType": "walmartItemNumber",
                                  "productId": "615038984"
                                }
                              ]
                            },
                            "ingestionStatus": "INPROGRESS"
                          },
                          {
                            "martId": 0,
                            "sku": null,
                            "wpid": null,
                            "index": 0,
                            "itemid": "",
                            "shipNode": null,
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "06947230127055"
                                },
                                {
                                  "productIdType": "walmartItemNumber",
                                  "productId": "667038985"
                                }
                              ]
                            },
                            "ingestionStatus": "IN_REVIEW"
                          }
                        ]
                      }
                    }
                  },
                  "200 - Inventory (DSV_INVENTORY) Feed In Progress with Details": {
                    "value": {
                      "feedId": "66AB8243F50E4EA0961BF06667BCA8C7@AYgBCgA",
                      "activityId": "0CZ85022",
                      "feedStatus": "INPROGRESS",
                      "feedSubmissionDate": 1699649539954,
                      "itemsReceived": 2,
                      "itemsSucceeded": 0,
                      "itemsFailed": 1,
                      "itemsProcessing": 1,
                      "offset": 0,
                      "limit": 50,
                      "itemDetails": {
                        "itemIngestionStatus": [
                          {
                            "martId": 0,
                            "index": 0,
                            "shipNode": "78084605",
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "00671531210772"
                                }
                              ]
                            },
                            "ingestionStatus": "DATA_ERROR",
                            "ingestionErrors": {
                              "ingestionError": [
                                {
                                  "type": "DATA_ERROR",
                                  "code": "ERR_EXT_DATA_0503030",
                                  "field": "inventory",
                                  "description": "The system did not find vendor({0}) and shipNode({1}) combination provided in the request. Contact the support team at https://supplierhelp.walmart.com/s/ for further assistance."
                                },
                                {
                                  "type": "DATA_ERROR",
                                  "code": "ERR_EXT_DATA_0503021",
                                  "field": "inventory",
                                  "description": "The system did not find an item with the SKU information provided in the request. Please verify the SKU is correct in Walmart systems, complete the item setup process, or reattempt the item setup request. Contact the support team at https://sellerhelp.walmart.com/s for further assistance with an item submission request."
                                }
                              ]
                            }
                          },
                          {
                            "martId": 0,
                            "index": 1,
                            "shipNode": "78084605",
                            "productIdentifiers": {
                              "productIdentifier": [
                                {
                                  "productIdType": "GTIN",
                                  "productId": "00668653001111"
                                }
                              ]
                            },
                            "ingestionStatus": "INPROGRESS"
                          }
                        ]
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feedId": {
                      "type": "string",
                      "description": "Indicates an identifier, returned from the <a href=\"https://developer.walmart.com/api/us/supplier/items#operation/itemBulkUploads\">POST Bulk Item Upload request</a>, used for tracking the feed file.\n",
                      "example": "85CF30246B87483BA2290B8300750C47@AVABBgA"
                    },
                    "activityId": {
                      "type": "string",
                      "description": "Indicates the activity identifier automatically assigned to the feed file. \n\nThis parameter is used to track submissions during the review and approval process in the Walmart user interfaces, like Supplier One. For support with activities, share this value with the merchant or support teams.\n",
                      "example": "13CBADE2"
                    },
                    "feedStatus": {
                      "type": "string",
                      "description": "Indicates the feed status. \n\nFor details, see the definitions listed in the *Understanding Statuses Available for Feeds* section in the <a href=\"https://developer.walmart.com/doc/us/us-supplier/us-supplier-feeds/\">Feeds guide</a>.\n                    \nValid values are:\n\n| Value |  Meaning |\n| --- | --- |\n| RECEIVED | The request has been successfully received by Walmart, but the processing has not yet started for the records. |\n| INPROGRESS | The feed has begun processing, but is not yet complete. For example, one or more records are still processing and not in an end state. |\n| PROCESSED | The complete feed has been successfully completed or processed. All records have been processed and are in an end state. |\n| ERROR | There has been an error in processing the feed file. No records in the file have been processed. Check the error message and the ingestion status for more details about the error and possible corrections. The feed file may be resubmitted later as a new feed file request. |\n",
                      "enum": [
                        "RECEIVED",
                        "INPROGRESS",
                        "PROCESSED",
                        "ERROR"
                      ],
                      "example": "PROCESSED"
                    },
                    "feedSubmissionDate": {
                      "type": "integer",
                      "description": "Indicates the feed submission date-timestamp, in Unix format.\n",
                      "example": 1694724427146
                    },
                    "ingestionErrors": {
                      "type": "object",
                      "description": "Indicates an object for feed level ingestion errors.\n",
                      "properties": {
                        "ingestionError": {
                          "type": "array",
                          "description": "Indicates an array for a feed level ingestion error.\n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Indicates the feed level ingestion error type. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| DATA_ERROR | Ingestion error type for data error |\n| SYSTEM_ERROR | Ingestion error type for system error |\n| TIMEOUT_ERROR | Ingestion error type for timeout error |\n",
                                "enum": [
                                  "DATA_ERROR",
                                  "SYSTEM_ERROR",
                                  "TIMEOUT_ERROR"
                                ],
                                "example": "DATA_ERROR"
                              },
                              "code": {
                                "type": "string",
                                "description": "Indicates the feed level ingestion error code.\n",
                                "example": "EXT_DATA_ERROR_60490109505567"
                              },
                              "description": {
                                "type": "string",
                                "description": "Indicates the feed level ingestion error description.\n",
                                "example": "Dark Choco' is not a valid Unit for the 'chocolate_type' field. Select a valid value from the drop-down list: [White Chocolate,Semi-Sweet,Extra Dark Chocolate,Unsweetened,Dark Chocolate,Milk Chocolate]."
                              }
                            }
                          }
                        }
                      }
                    },
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items received in the feed.\n",
                      "example": 1
                    },
                    "itemsSucceeded": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that have successfully processed.\n",
                      "example": 1
                    },
                    "itemsFailed": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that failed due to a data or system error.\n",
                      "example": 0
                    },
                    "itemsInReview": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that are in manual review.\n",
                      "example": 0
                    },
                    "itemsProcessing": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of items in the feed that are still in progress.\n",
                      "example": 0
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of entities to exclude from each search.\n",
                      "example": 0
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the maximum number of entities returned from each search.\n",
                      "example": 50
                    },
                    "itemDetails": {
                      "type": "object",
                      "description": "Indicates an object for item details.\n",
                      "properties": {
                        "itemIngestionStatus": {
                          "type": "array",
                          "description": "Indicates an array of item ingestion status. \n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "martId": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Indicates the mart identifier that the user or seller uses for marketplace.\n",
                                "example": 0
                              },
                              "sku": {
                                "type": "string",
                                "description": "Indicates the stock keeping unit (SKU) identifier for the item and is assigned by the supplier.\n",
                                "example": "null"
                              },
                              "wpid": {
                                "type": "string",
                                "description": "Indicates the Walmart product identifier (WPID) value for the item that is assigned by the supplier.\n",
                                "example": "73TVAYVDC7AC"
                              },
                              "index": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Indicates an index of items in the feed.\n",
                                "example": 1
                              },
                              "itemId": {
                                "type": "string",
                                "description": "Indicates the item identifier value generated by Walmart.\n",
                                "example": "5062815046"
                              },
                              "shipNode": {
                                "type": "string",
                                "description": "Indicates the ship node value associated with item ingestion status.\n",
                                "example": "null"
                              },
                              "productIdentifiers": {
                                "type": "object",
                                "description": "Indicates an object for product identifiers.\n",
                                "properties": {
                                  "productIdentifier": {
                                    "type": "object",
                                    "description": "Indicates an object for a product identifier.\n",
                                    "properties": {
                                      "productIdType": {
                                        "type": "string",
                                        "description": "Indicates the product identifier type. \n\nValid values are:\n\n| Value |  Meaning |\n| --- | --- |\n| UPC | Universal Product Code |\n| GTIN | Global Trade Item Number |\n| walmartItemNumber | Walmart Item Number |\n| ISBN | International Standard Book Number |\n| EAN | European Article Number |\n| ITEM_ID | Item identifier |\n",
                                        "enum": [
                                          "UPC",
                                          "GTIN",
                                          "walmartItemNumber",
                                          "ISBN",
                                          "EAN",
                                          "ITEM_ID"
                                        ],
                                        "example": "UPC"
                                      },
                                      "productId": {
                                        "type": "string",
                                        "description": "Indicates the product by the product identifier value.\n",
                                        "example": "00012345678905"
                                      }
                                    }
                                  }
                                }
                              },
                              "ingestionStatus": {
                                "type": "string",
                                "description": "Indicates the ingestion status. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| INPROGRESS | The ingestion is not complete. |\n| SUCCESS | The record was ingested successfully. |\n| DATA_ERROR | There is either a malformed error, or system data is missing. If the file passes validation against the relevant feed file schema definition (XSD or JSON) and the error persists, contact <a href=\"https://supplierhelp.walmart.com/s/contact\">Walmart Partner Support</a>. |\n| IN_REVIEW | The record is pending review. |\n| SYSTEM_ERROR | A downstream Walmart system returned an error to an attempted operation during ingestion. If this error occurs, wait one hour and try again. If the error persists, contact <a href=\"https://supplierhelp.walmart.com/s/contact\">Walmart Partner Support</a>. |\n| TIMEOUT_ERROR | A downstream Walmart system is not available during ingestion. If this error occurs, wait one hour and try again. If the error persists, contact <a href=\"https://supplierhelp.walmart.com/s/contact\">Walmart Partner Support</a>. |\n",
                                "enum": [
                                  "INPROGRESS",
                                  "SUCCESS",
                                  "DATA_ERROR",
                                  "IN_REVIEW",
                                  "SYSTEM_ERROR",
                                  "TIMEOUT_ERROR"
                                ],
                                "example": "INPROGRESS"
                              },
                              "ingestionErrors": {
                                "type": "object",
                                "description": "Indicates an object for item level ingestion errors.\n",
                                "properties": {
                                  "ingestionError": {
                                    "type": "array",
                                    "description": "Indicates an array for an item level ingestion error.\n",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error type. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| DATA_ERROR | Ingestion error type for data error |\n| SYSTEM_ERROR | Ingestion error type for system error |\n| TIMEOUT_ERROR | Ingestion error type for timeout error |\n",
                                          "enum": [
                                            "DATA_ERROR",
                                            "SYSTEM_ERROR",
                                            "TIMEOUT_ERROR"
                                          ],
                                          "example": "DATA_ERROR"
                                        },
                                        "code": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error code.\n",
                                          "example": "ERR_EXT_DATA_00010121"
                                        },
                                        "field": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error field.\n",
                                          "example": "supplierId"
                                        },
                                        "description": {
                                          "type": "string",
                                          "description": "Indicates the item level ingestion error description.\n",
                                          "example": "The 9-digit Supplier ID provided is inactive. Please verify that you entered the correct Supplier ID for this item and try again. If you feel that you are receiving this message in error please contact Partner Support."
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:PartnerFeedResponse xmlns:ns2=\"http://walmart.com/\">\n    <ns2:feedId>B99CF2503C894C388C5D1AECC486386C@ARcBAQA</ns2:feedId>\n    <ns2:feedStatus>PROCESSED</ns2:feedStatus>\n    <ns2:feedSubmissionDate>2018-02-23T18:08:57.910Z</ns2:feedSubmissionDate>\n    <ns2:ingestionErrors/>\n    <ns2:itemsReceived>1</ns2:itemsReceived>\n    <ns2:itemsSucceeded>1</ns2:itemsSucceeded>\n    <ns2:itemsFailed>0</ns2:itemsFailed>\n    <ns2:itemsProcessing>0</ns2:itemsProcessing>\n    <ns2:offset>0</ns2:offset>\n    <ns2:limit>50</ns2:limit>\n    <ns2:itemDetails>\n        <ns2:itemIngestionStatus>\n            <ns2:martId>0</ns2:martId>\n            <ns2:sku>MS95-005-076-03</ns2:sku>\n            <ns2:wpid>7FB26Z1GC3GK</ns2:wpid>\n            <ns2:index>0</ns2:index>\n            <ns2:itemid>340712325</ns2:itemid>\n            <ns2:productIdentifiers>\n                <ns2:productIdentifier>\n                    <ns2:productIdType>GTIN</ns2:productIdType>\n                    <ns2:productId>06959576601002</ns2:productId>\n                </ns2:productIdentifier>\n            </ns2:productIdentifiers>\n            <ns2:ingestionStatus>SUCCESS</ns2:ingestionStatus>\n            <ns2:ingestionErrors/>\n        </ns2:itemIngestionStatus>\n    </ns2:itemDetails>\n</ns2:PartnerFeedResponse>\n"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Indicates an array for the errors.\n",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Indicates the error code.\n",
                            "example": "null"
                          },
                          "field": {
                            "type": "string",
                            "description": "Indicates the error field.\n",
                            "example": "null"
                          },
                          "description": {
                            "type": "string",
                            "description": "Indicates the error description.\n",
                            "example": "null"
                          },
                          "info": {
                            "type": "string",
                            "description": "Indicates the error information. \n",
                            "example": "null"
                          },
                          "severity": {
                            "type": "string",
                            "description": "Indicates the error severity. \n\nValid values are:\n\n| Value | Meaning |\n| --- | --- | \n| INFO | Error severity at information level |\n| WARN | Error severity at warning level |\n| ERROR | Error severity at error level |\n",
                            "enum": [
                              "INFO",
                              "WARN",
                              "ERROR"
                            ],
                            "example": "INFO"
                          },
                          "category": {
                            "type": "string",
                            "description": "Indicates the error category.\n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n| APPLICATION | Error category at application level |\n| SYSTEM | Error category at system level |\n| REQUEST | Error category at request level |\n| DATA | Error category at data level |\n",
                            "enum": [
                              "APPLICATION",
                              "SYSTEM",
                              "REQUEST",
                              "DATA"
                            ],
                            "example": "APPLICATION"
                          },
                          "causes": {
                            "type": "array",
                            "description": "Indicates an array for error causes.\n",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Indicates the error cause code. \n",
                                  "example": "null"
                                },
                                "field": {
                                  "type": "string",
                                  "description": "Indicates the error cause field. \n",
                                  "example": "null"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Indicates the error cause type. \n",
                                  "example": "null"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Indicates the error cause description. \n",
                                  "example": "null"
                                }
                              }
                            }
                          },
                          "errorIdentifiers": {
                            "type": "object",
                            "description": "Indicates an object for error identifiers.\n",
                            "additionalProperties": {
                              "type": "object",
                              "description": "Indicates an object for additional properties for error identifiers. \n"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "404 - Feed ID Not Found": {
                    "value": {
                      "error": [
                        {
                          "code": "CONTENT_NOT_FOUND.GMP_DATA_STATUS_API",
                          "info": "The system could not find any data for the given feed ID. Either the feed ID is outside the SLA date range or incorrect. Please provide the correct feed ID. If the issue persists, contact the support team at https://sellerhelp.walmart.com/s/.",
                          "severity": "INFO",
                          "category": "APPLICATION",
                          "errorIdentifiers": {
                            "entry": []
                          },
                          "causes": []
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "1P Suppliers Feeds Reference",
      "tags": [
        "Feeds"
      ]
    }
  ],
  "components": {
    "schemas": {
      "get-all-feed-statuses-200-response": {
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "integer",
            "format": "int64",
            "description": "Indicates the total number of feeds returned.\n",
            "example": 100
          },
          "offset": {
            "type": "integer",
            "format": "int64",
            "description": "Indicates the number of entities to exclude from each search.\n",
            "example": 0
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Indicates the maximum number of entities returned from each search.\n",
            "example": 50
          },
          "results": {
            "type": "object",
            "description": "Indicates an object for results.\n",
            "properties": {
              "feed": {
                "type": "array",
                "description": "Indicates an array for the feed. \n",
                "items": {
                  "type": "object",
                  "properties": {
                    "feedId": {
                      "type": "string",
                      "description": "Indicates an identifier used for tracking the feed file.\n",
                      "example": "76E2D1549C3140C886C1D7F33B7345B6@AWYBCgA"
                    },
                    "feedSource": {
                      "type": "string",
                      "description": "Indicates the source of the feed.\n",
                      "example": "ITEM360"
                    },
                    "feedType": {
                      "type": "string",
                      "description": "Indicates the feed type submitted by the supplier.\n\nValid values include, but are not limited to, the following:\n\n| Value | Meaning |\n| --- | --- |\n| OMNI_ONLINE_ITEM | Feed type for items sold to Walmart and only sold online |\n| OMNI_DSV_ITEM | Feed type for drop ship vendor (DSV) item submission |\n| OMNI_MAINTENANCE | Feed type to maintain any item |\n| DSV_INVENTORY | Feed type to update inventory levels at each ship node for drop ship vendor (DSV) suppliers |\n| lagtime | Feed type to update the lag time for items in bulk for drop ship vendor (DSV) suppliers |\n| Cost | Feed type to update the cost at the stock keeping unit (SKU) - ship node level |\n",
                      "enum": [
                        "OMNI_ONLINE_ITEM",
                        "OMNI_DSV_ITEM",
                        "OMNI_MAINTENANCE",
                        "DSV_INVENTORY",
                        "lagtime",
                        "Cost"
                      ],
                      "example": "OMNI_ONLINE_ITEM"
                    },
                    "itemsReceived": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Indicates the number of items received in the feed.\n",
                      "example": 1
                    },
                    "itemsSucceeded": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Indicates the number of items in the feed that have successfully processed.\n",
                      "example": 1
                    },
                    "itemsFailed": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Indicates the number of items in the feed that failed due to a data or system error.\n",
                      "example": 0
                    },
                    "itemsProcessing": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Indicates the number of items in the feed that are still in progress. \n",
                      "example": 0
                    },
                    "feedStatus": {
                      "type": "string",
                      "description": "Indicates the feed status. \n\nFor details, see the definitions listed in the *Understanding Statuses Available for Feeds* section in the <a href=\"https://developer.walmart.com/doc/us/us-supplier/us-supplier-feeds/\">Feeds guide</a>.\n\nValid values are:\n\n| Value |  Meaning |\n| --- | --- |\n| RECEIVED | The request has been successfully received by Walmart, but the processing has not yet started for the records. |\n| INPROGRESS | The feed has begun processing, but is not yet complete. For example, one or more records are still processing and not in an end state. |\n| PROCESSED | The complete feed has been successfully completed or processed. All records have been processed and are in an end state. |\n| ERROR | There has been an error in processing the feed file. No records in the file have been processed. Check the error message and the ingestion status for more details about the error and possible corrections. The feed file may be resubmitted later as a new feed file request. |\n",
                      "enum": [
                        "RECEIVED",
                        "INPROGRESS",
                        "PROCESSED",
                        "ERROR"
                      ],
                      "example": "PROCESSED"
                    },
                    "feedDate": {
                      "type": "string",
[...]
